@import "tailwindcss";
html {
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
        
}

*{
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}

*::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}